
html,
body {
  margin: 0;
  padding: 0;
  font-family: inherit;
  background-color: #fff;
  color: #111;
  text-transform: lowercase;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

h2, h1, h3, h4 {
  margin: 0;
}

h4 {
  font-weight: normal;
  text-decoration: underline;
}

.main-wrapper {
  display: flex;
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */
  min-height: 100vh;        /* full viewport height */
}

.content {
  width: 60%;
}

.invite-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif-wrapper {
  text-align: center;
}

.gif-wrapper img {
  cursor: pointer;
  height: 200px;
  width: auto;
  object-fit: contain;
}

/* Main content styling */
.invite-content {
  width: 100%;
  text-align: center;
}

.about-content {
  line-height: 1.3;
}

.about-content ul {
  list-style: none;
  margin-top: 0;
  padding: 0; 
  text-align: "left";

}

.link {
  text-decoration: none;
  font-size: 14px;
}

.footer {
  padding-top: 40px;
  text-align: center;
}

.icon-line {
  display: flex;
  flex-direction: row;
  gap: 3px;
  padding-top: 5px;
}

@media (max-width: 600px) {

  .content {
    width: 100%;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .gif-wrapper img {
    height: 100px;
  }

  .about {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: start;
  }
}